.example-full-width{
    width: 100%;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    display: flex;
    background-color: transparent;
    color: black;
}

.example-card-image {
  width: 70px;
  height: 70px;
}

.example-card-details {
  width: 70%;
  margin-left: 10px;
  font-weight: 600;;
}

.example-button {
    border:1px solid grey; 
    width: 25%;
    height: 50px; 
    border-radius: 15px;
}

.button-container{
    position:fixed;
    bottom:30px;
}